---
import ShowToy from "./ShowToy.svelte";
import { Image } from "astro:assets";
import headshot from "../assets/headshot.jpg";
---

<header
  class="my-8 col-span-12 flex justify-between font-semibold max-w-screen-2xl w-full mx-auto px-4"
>
  <h2 class="my-2 mx-0 w-1/4 text-center">
    <!-- <a href="/"> -->
    <ShowToy client:visible />
    <!-- </a> -->
  </h2>
  <!-- <img src="/favicon.svg" alt="Petar Vujovic" class="w-20 h-20" /> -->
  <Image
    src={headshot}
    alt="Petar Vujovic"
    class="w-20 h-20 rounded-full mt-4"
  />
  <!-- <nav class="flex justify-evenly w-1/4"> -->
  <!--   <HeaderLink href="/blog">Blog</HeaderLink> -->
  <!--   <HeaderLink href="/about">About</HeaderLink> -->
  <!-- </nav> -->
</header>
