---
import HeaderLink from "./HeaderLink.astro";
import ShowToy from "./ShowToy.svelte";
---

<header
  class="my-8 mx-0 col-span-12 sticky top-0 flex justify-between font-semibold"
>
  <h2 class="my-2 mx-0 w-1/4 text-center">
    <a href="/">
      <ShowToy client:load />
    </a>
  </h2>
  <nav class="flex justify-evenly w-1/4">
    <HeaderLink href="/blog">Blog</HeaderLink>
    <HeaderLink href="/about">About</HeaderLink>
  </nav>
</header>
