---
import BaseHead from "@components/BaseHead.astro";
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";

interface Props {
  title: string;
  description: string;
}

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="en" class:list={["bg-sky-400", "dark:bg-sky-900"]}>
  <head>
    <BaseHead title={title} description={description} />
  </head>

  <body
    class:list={[
      "from-sky-400 via-sky-700 to-sky-800 text-sky-950 bg-gradient-to-br from-60% via-90%",
      "dark:from-sky-900 dark:via-sky-600 dark:to-sky-300 dark:text-sky-100",
      "pb-36 relative min-h-screen",
    ]}
  >
    <Header />

    <main class="max-w-screen-xl mx-auto px-2 pb-6">
      <slot />
    </main>

    <Footer />
  </body>
</html>
